<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-width: 600px">
  {{{ body }}}
  {{> footer }} {{!--  para importar um partial, utilizamos o sinal de MAIOR ( > ) e o nome do partial utilizando DUAS chaves ao redor --}}

</div>
